/*
 * Copyright (C) 2016 Zilogic Systems - http://www.zilogic.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "pxa27x.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "Gumstix Verdex Platform";
	compatible = "gumstix,verdex", "marvell,pxa270";

	memory {
		reg = <0xA0000000 0x10000000>;
	};

	display@0 {
		display-timings {
			native-mode = <&timing0>;
			timing0: 640x480 {
				clock-frequency = <20000000>;
				hactive = <640>;
				vactive = <480>;
				hfront-porch = <20>;
				hback-porch = <8>;
				hsync-len = <4>;
				vback-porch = <1>;
				vfront-porch = <10>;
				vsync-len = <3>;
				hsync-active = <1>;
				vsync-active = <1>;
			};
		};
			
		port {
			panel_in: endpoint {
				remote-endpoint = <&lcdc_out>;
			};
		};
	};

	pxabus {
		pxai2c1: i2c@40301680 {
			status = "okay";

			pinctrl-names = "default";
			pinctrl-0 = <&i2c_pins>;

			zkey@30 {
				compatible = "zkey";
				reg = <0x30>;
				interrupts-extended = <&gpio 19 IRQ_TYPE_EDGE_RISING>;
			};

		};

		ffuart: uart@40100000 {
			status = "okay";

			pinctrl-names = "default";
			pinctrl-0 = <&ffuart_pins>;
		};

		mmc0: mmc@41100000 {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&mmc_pins>;
		};

		lcd-controller@40500000 {
			compatible = "marvell,pxa270-lcdc";
			reg = <0x44000000 0x10000>;
			interrupts = <17>;
			clocks = <&clks CLK_LCD>;			
			status = "okay";

			port {
				lcdc_out: endpoint {
					remote-endpoint = <&panel_in>;
					bus-width = <16>;
				};
			};
		};

		mac: ethernet@04000300 {
			compatible = "smsc,lan91c94";
			reg = <0x04000300 0xffd00>;
			interrupts-extended = <&gpio 99 IRQ_TYPE_EDGE_RISING>;
		};

		pxa27x_ohci: usb@4c000000 {
			status = "okay";
			marvell,enable-port1;
			marvell,port-mode = <2>;

			pinctrl-names = "default";
			pinctrl-0 = <&usbh_pins>;
		};

		flash@00000000 {
                        compatible = "cfi-flash";
                        reg = <0x00000000 0x02000000>;
                        linux,mtd-name = "physmap-flash.0";
                        bank-width = <2>;
                        #address-cells = <1>;
                        #size-cells = <1>;

                        bootloader@0 {
                                label = "bootloader";
                                reg = <0x00000 0x40000>;
                        };

                        bootenv@80000 {
                                label = "bootenv";
                                reg = <0x80000 0x40000>;
                        };

                        kernel@60000 {
                                label = "kernel";
                                reg = <0xC0000 0x400000>;
                        };

                        rootfs@360000 {
                                label = "rootfs";
                                reg = <0x4C0000 0x1B40000>;
                        };
                };

		pinctrl: pinctrl@40e00000 {
			usbh_pins: usbh {
				mux_p88 {
					pins = "P88";
					function = "USBHPWR<1>";
				};

				mux_p89 {
					pins = "P89";
					function = "USBHPEN<1>";
				};
			};

			ffuart_pins: ff {
				mux_p19 {
					pins = "P34";
					function = "FFRXD";
				};

				mux_p37 {
					pins = "P39";
					function = "FFTXD";
				};
			};

			i2c_pins: i2c {
				mux_p117 {
					pins = "P117";
					function = "SCL";
				};

				mux_p118 {
					pins = "P118";
					function = "SDA";
				};
			};

			mmc_pins: mmc {
				mux_p32 {
					pins = "P32";
					function = "MMCLK";
				};

				mux_p112 {
					pins = "P112";
					function = "MMCMD";
				};

				mux_p92 {
					pins = "P92";
					function = "MMDAT<0>";
				};

				mux_p109 {
					pins = "P109";
					function = "MMDAT<1>";
				};

				mux_p110 {
					pins = "P110";
					function = "MMDAT<2>";
				};

				mux_p111 {
					pins = "P111";
					function = "MMDAT<3>";
				};
			};
		};
	};
};
